
<div class="container padding">
<h2 class="kt-center "><strong>Users Record</strong></h2>
<div class="padding">Global Search
  <input type="text" ng-model="test" size="23" placeholder="Search Now">
</div>
<div style="max-height:352px;overflow:auto;">
  <table class="table table-striped table-bordered padding ">

  <thead>

    <tr>
      <th>USER NAME</th>
      <th>EMAIL</th>
      <th>PHON NUMBER</th>
      <th>EDIT</th>
    </tr>

  </thead>

  <tbody>
    <tr ng-repeat="result in usersRecord | filter : test |orderBy: reverse:true">

      <th >{{result.username}}</th>
      <td>{{result.userEmail}}</td>
      <td>{{result.phonNumber}}</td>
      <td>  <div class="btn-group">
        <button type="button"   ng-click="removeUser(result._id)"; class="btn btn-default  btn-xs"><span class="glyphicon glyphicon-trash"></span></button>
    <button type="button"  ng-click="selectedUser(result)" class="btn btn-default  btn-xs">  <span class="glyphicon glyphicon-pencil"></span></button>
  </div></td>
    </tr>
  </tbody>
</table>

</div>
  <div><button class="btn" ng-click="createUser()" >Create User</button></div>
</div>
